/* Se define el alto de la imagen del carrousel */
.slide img {
  height: 60vh;
  min-height: 680px;
  background: no-repeat center center scroll;
}

/* =================COLORES==================== */
:root {
  --black: #222;
  --white: #fff;
  --azul: #0751a6;
  --amarillo: #d3b717;
  --rojo: #e71247;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 82.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

h2,
h3,
h4 {
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/* NAVIGATION */
.nav__list {
  display: flex;
  align-items: center;
}

.nav__list span {
  display: inline-block;
  font-size: 2 rem;
  margin-top: 0.2rem;
  color: #757159;
}

.carrito__icon {
  position: relative;
  cursor: pointer;
}

.carrito__icon i {
  position: absolute;
  margin-top: -1.2rem;
  right: 2.4rem;
  font-size: 3.5rem;
  color: var(--azul);
}

.carrito__icon span {
  position: absolute;
  top: -1.2rem;
  right: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--rojo);
  color: var(--white);
  padding: 0.5rem;
  font-size: 0.6rem;
  font-weight: 700;
  border-radius: 50%;
}

/* ======================NOSOTROS===================== */
.seccion {
  padding: 100px 0px;
}

.seccion p {
  font-size: 25px;
}

.nosotros h3 {
  font-size: 35px;
  font-weight: 400;
  color: var(--black);
  padding-bottom: 30px;
  letter-spacing: 4px;
  word-spacing: 3px;
}

.parrafo {
  letter-spacing: 1px;
  line-height: 25px;
}

.icono {
  font-size: 130px;
  color: var(--rojo);
}

.icono-servicio {
  font-size: 30px;
  color: #9e9e9e;
}

.titulo_2 {
  font-size: 30px;
  font-weight: 700;
}

/* ====================DESCUENTO=================== */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .banner {
  background: linear-gradient(
    -55deg,
    #ff7675 29%,
    #d63031 29.1%,
    #d63031 68%,
    #ff7675 68.1%
  );
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
}

.banner-container .banner .shoe {
  flex: 1 1 250px;
  padding: 15px;
  text-align: center;
}

.banner-container .banner .shoe img {
  width: 80%;
}

.banner-container .banner .content {
  flex: 1 1 250px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.banner-container .banner .content span {
  color: #eee;
  font-size: 25px;
}

.banner-container .banner .content h3 {
  color: #fff;
  font-size: 40px;
}

.banner-container .banner .content p {
  color: #eee;
  font-size: 20px;
  padding: 10px 0;
}

.banner-container .banner .content .btn__descuento {
  display: block;
  height: 40px;
  width: 150px;
  line-height: 40px;
  background: #fff;
  color: #d63031;
  margin: 5px auto;
  text-decoration: none;
}

.banner-container .banner .women {
  position: relative;
  bottom: -33px;
  padding: 10px;
  flex: 1 1 250px;
}

.banner-container .banner .women img {
  width: 100%;
}

@media (max-width: 768px) {
  .banner-container .banner .women {
    display: none;
  }
}

/* =========================CATEGORIAS===================== */

/* ========================Newsletter====================== */

.bg-seccion {
  background-color: rgb(221, 109, 109);
  padding: 100px 40px;
  color: var(--white);
}

.bg-seccion h2 {
  font-size: 40px;
  font-weight: bold;
}
.bg-seccion p {
  font-size: 25px;
}

.email-box {
  height: 40px;
  display: flex;
  justify-content: center;
}

.email-box i {
  background: #2f3542;
  width: 40px;
  line-height: 40px;
}

.tbox,
.btn_2 {
  border: none;
  outline: none;
}

.tbox {
  width: 0px;
  transition: 0.6s;
}

.email-box:hover > .tbox,
.tbox:focus {
  width: 260px;
  padding: 0 10px;
}

.btn_2 {
  background: #2f3542;
  padding: 0 10px;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

/* ===================PRODUCTOS================== */

.rating span {
  font-size: 2rem;
  color: var(--amarillo);
}

.productos {
  padding: 3rem 0;
}

.productos__center {
  padding: 0 2rem;
  margin: 0 auto;
  /*   display: flex; */
  /* grid-template-columns: repeat(auto-fit, mminmax(30rem, 1fr)); */
  gap: 3rem 1rem;
}

.producto {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.image__container img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0px auto;
}

.productos__footer {
  padding: 1rem;
  width: 100%;
}

.productos__footer h1 {
  height: 30px;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 500;
}

.rating {
  margin: 1rem 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.btn {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1rem 1.8rem;
  color: var(--black);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: var(--azul);
  color: var(--white);
  border: 1px solid var(--azul);
}

.price {
  font-weight: 700;
  font-size: 1.8rem;
}

/* ===================== CARRITO ===================== */
.carrito__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.carrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  overflow: scroll;
  background-color: #f2f2f2;
  opacity: 0;
  visibility: hidden;
  transform: all 300ms ease-in-out;
}

.carrito.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.carrito__overlay.show {
  visibility: visible;
}

.carrito .close__carrito {
  font-size: 4.5rem;
  cursor: pointer;
  color: var(--black);
  transform: all 300ms ease-in-out;
}

.carrito .close__carrito:hover {
  color: var(--rojo);
}

.carrito__item span {
  font-size: 2rem;
  color: var(--azul);
}

.carrito h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.carrito__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto;
}

.carrito__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrito__item div span {
  cursor: pointer;
}

.carrito__item img {
  width: 9rem;
}

.carrito__item h3 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.carrito__item .price {
  color: var(--azul);
  font-weight: 700;
}

.carrito__item .remove__item {
  cursor: pointer;
  color: var(--rojo);
  font-size: 4rem;
}

.carrito__footer {
  text-align: center;
  margin: 3rem;
}

.carrito__footer .btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: rgb(214, 146, 146);
  border: none;
  margin-top: 2rem;
}

.carrito__footer .btn:focus {
  outline: none;
}

@media only screen and (max-width: 1350px) {
  .carrito__item {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .carrito {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
  }
  .carrito__item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
  }
}

/* ========================DETALLE PRODUCTOS ===================== */

.detalles {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}

.detalle-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 3rem;
}

.detalles .img-fluid {
  max-width: 380px;
  width: 100%;
  margin: 5rem auto;
  box-shadow: 0 5px 10 px 1px rgb(0, 0, 0, 0.2);
}

.detalles-content {
  padding: 2rem;
}

.detalle-content h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.detalle-content .price span {
  color: var(--azul);
  font-size: 2rem;
  font-weight: 600;
}

.detalles-content .description {
  padding-top: 2rem;
}

.detalle-content .description span {
  line-height: 2rem;
}

@media only screen and (max-width) {
  .detalle-grid {
    grid-template-columns: 1fr;
  }
}

/* TESTIMONIOS */
.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonios__header {
  margin: 50px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonios__header h2 {
  font-size: 2, 9rem;
  font-weight: 500;
  background-color: #202020;
  color: white;
  padding: 10px 20px;
}

.testimonios__header span {
  font-size: 2.2rem;
  color: #252525;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.testimonios__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonios__caja {
  width: 500px;
  box-shadow: 2px 2px 30px rga(0, 0, 0, 0.1);
  background-color: rgb(233, 227, 227);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.perfil {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.5rem;
}

.name-user span {
  color: #979797;
  font-size: 1.2rem;
}

.resenas {
  color: #14d13d;
}

.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comentarios__clientes p {
  color: #4b4b4b;
}
/* /TESTIMONIOS */

/* FOOTER */

.site-footer {
  padding: 10px 0;
  background: rgb(221, 109, 109);
  font-size: 14px;
  color: white;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer a {
  color: #ffc107;
  border-bottom: 1px solid transparent;
}

.site-footer a:hover {
  color: var(--white);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: 0.5em;
  color: var(--white);
}

.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer-social a {
  line-height: 0;
  font-size: 25px;
  border-radius: 50%;
  margin: 0 10px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}

.footer-social a:hover {
  background: white;
  border-color: white;
  color: black;
}

.footer-social .bx {
  margin-top: 7px;
}
